header{
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 5px solid gray;
}

body{
  margin: 0 26%;
}

p{
  text-indent: 40px;
}

.icons{
  float: right;
}

.cursive{
  font-family: 'Lobster', cursive;
}

#topleft{
  width: 300px;
}

#logo{
  float: left;
}

#print{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#printicon{
  height: 10px;
}

#abovepic{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#date{
  margin-top: 0px;
}

h1{
  margin-bottom: 0px;
}

header h2{
  margin-top: 0px;
  margin-bottom: 0px;
}

header h6{
  margin-top: 0px;
  margin-bottom: 0px;
  color: gray;
}

table{
  display: flex;
  justify-content: space-around;
  background-image: url(img/list-bg.png);
  border-bottom: 2px solid gray;
}

#bottomopage{
  margin-top: 15px;
  padding-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  border-top: 5px solid gray;
}

#author img{
  float: left;
  margin-right: 10px;
}

#author p{
  text-indent: 0px;
  margin: 0px;
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button{
  background-color: red;
}

footer img{
  width: 31px;
  height: 33px;
  margin: 15px auto;
}

footer h6{
  margin: 0px auto;
}
