header{
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 5px solid gray;
}

body{
  margin: 0 26%;
}

p{
  text-indent: 40px;
}

.icons{
  float: right;
}

.cursive{
  font-family: 'Lobster', cursive;
}

#topleft{
  width: 300px;
}

#logo{
  float: left;
}

#print{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#printicon{
  height: 10px;
}

#abovepic{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#date{
  margin-top: 0px;
}

#print{
}

h1{
  margin-bottom: 0px;
}

header h2{
  margin-top: 0px;
  margin-bottom: 0px;
}

header h6{
  margin-top: 0px;
  margin-bottom: 0px;
  color: gray;
}
